@model Login
@{
    ViewData["Title"] = "Sobre";
}

<div class="text-center">
    <h2 class="display-4">Sobre o Projeto</h2>
    <p>O projeto é um sistema de monitoramento da quantidade de krill nos oceanos, com foco no polo antartico utilizando tecnologias avançadas de imagem e 
        inteligência artificial. <br/>A solução integra várias tecnologias para criar um MVP funcional e eficaz, utilizando câmeras subaquáticas 
        e drones para capturar imagens de krill. <br/>Algoritmos de IA irão processar essas imagens para estimar a quantidade de krill em diferentes 
        áreas dos oceanos.</p>
    <br/>
    <br/>
    <h2 class="display-4">Membros da Equipe:</h2>
    <ul">
        <p>550268 - Thábata Orbeteli Viotto Santos</p>
        <p>97827 - Yago Taguchi Ruksenas</p>
        <p>99721 - Ricardo Correia Temple</p>
        <p>99409 - Michael José Bernardi da Silva</p>
    </ul>
</div>