@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <div class="text-center">
        <h1 class="display-4">Southern Ocean Sentinel</h1>
        <h3>Tecnologia em prol dos oceanos!</h3>
        <div class="container">
            <p>O Southern Ocean Sentinel é um sistema avançado de monitoramento de Krills, pequenos crustáceos fundamentais para o ecossistema marinho.<br /> 
                O krill serve como base da cadeia alimentar, sustentando uma vasta gama de espécies, incluindo baleias, focas, pinguins e peixes. Este sistema é crucial para o estudo e manutenção do krill, permitindo o controle de suas populações e distribuição.
                <br /> Ao entender melhor a dinâmica do krill, podemos proteger não apenas estas criaturas, mas também o equilíbrio ecológico dos oceanos. 
                <br/>A preservação do krill é vital para manter a saúde e a biodiversidade dos mares.</p>
        </div>
    </div>
</div>